body
{
    font-family: 'Inconsolata', monospace;
    font-size: 2vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.content{
  padding-right: 10%;
  padding-left:10vw;
}
.content1{
  padding-left:10vw;
}
.content2{
  padding-left:10vw;
}
html
{
    background: #000000;
}
.webgl
{
    position: fixed;
    top: 0;
    left: 0;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;

    color: #ffffff;

    will-change: transform;
  }


#app{
position: relative;
color:#ffffff;
}


 a{}
 a:visited {
    color: gray;
  }
  a:link {
    text-decoration: none;
    color: gray;
  }


  .link{position:absolute;}
  .text{position:absolute;
    margin-top:-10vh;
  }



  .contact{
    position: relative;
  }

  .terminal {animation: blink 1s infinite step-end;}
	@keyframes blink {from,           to { opacity: 0; }          50% {opacity: 1;}}


@media only screen and (max-width: 600px) {
  .content{
    margin-top:25vh;
    font-size: 4.6vw;
  }
  .content1{
    padding-left: 22.5vw;
    font-size: 7vw;
  }
  .content2{
    padding-left: 30vw;
    font-size: 7vw;
  }
  .content1 .text{
    position:unset;
  }
}