*
{
    font-family: 'Inconsolata', monospace;
    margin: 0;
    padding: 0;
}

html
{
    background: #000000;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
}


.section
{
    display: flex;
    align-items: center;
    height: 100vh;
    position: relative;

    color: #ffffff;
    font-size: 30px;
    padding-left:10vw;
    padding-right: 10%;
    will-change: transform;
}


#app{
color:#ffffff;
margin-right: 25vw;
font-size: 30px;
}
#app1{
    margin-bottom: 7.5vh;
    }


 a{}
 a:visited {
    color: gray;
  }
  a:link {
    text-decoration: none;
    color: gray;
  }
  .link{

    position:fixed;
    margin-top:0vh;
  }
